<!DOCTYPE html>
<html>
  <head>
    <title>Eat da Burger!</title>
    <!-- Tab Image -->
    <link rel="icon" href="/assets/img/pngguru.com.png">
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom css -->
    <link rel="stylesheet" href="/assets/css/burger_style.css">
  </head>
  <body>
  
    <!-- Container -->
    <div class="container">
      
      <br>

      <!-- Burger Image -->
      <section>
        <div class="row">
           <img src="/assets/img/pngguru.com.png">
        </div>
      </section>

      <!-- Page Title -->
      <section>
        <h1 class="main_font">Eat da Burger! <small class="tiny_text">With a background sound effects</small></h1>
      </section>
      
      <br>

      <!-- Burger Content Div -->
      <div class="row">
        <section>
          <!-- Left side ready to eat -->
          <div class="col-md-6">
            <h4 class="purple_font">Ready to eat!</h4>
            <div id="ready_to_eat">

              <!-- Dynamically Insert Ready Burgers Here -->
              <div class="input-group">
                <li class="form-control">1. Big mac</li>
                <span class="input-group-btn devour-button">
                  <button class="btn danger" type="button">Devour It!</button>
                </span>
              </div>
                                                
              <div class="input-group">
                <li class="form-control">2.Krabby Patty</li>
                <span class="input-group-btn devour-button">
                  <button class="btn danger" type="button">Devour It!</button>
                </span>
              </div>

            </div>
          </div>

          <!-- Right side (already eaten) -->
          <div class="col-md-6">
            <h4 class="purple_font">Already eaten!</h4>
            <div id="already_eaten">

              <!-- Dynamically Insert Ready Burgers Here -->
              <div class="input-group">
                <li class="form-control">3. Krabby Patty</li>
                <span class="input-group-btn whine-button">
                  <button class="btn btn-light" type="button">Whine!</button>
                </span>
              </div>

              <div class="input-group">
                <li class="form-control">4. Big Mac</li>
                <span class="input-group-btn whine-button">
                  <button class="btn btn-light" type="button">Whine!</button>
                </span>
              </div>

            </div>
          </div>
        </section>
      </div>

      <br><br>

      <!-- Input New Burgers Box -->        
      <div class="row">

        <div class="col-md-3"></div> 

        <div class="form-group col-md-6">
          <section><label class="purple_font">Request a new burger and place your order!</label></section>
          <textarea class="form-control" columns="8" rows="4" id="new_burger"></textarea>
        </div>


        <div class="col-md-3"></div> 

      </div>
    
      <!-- Submit Button -->
      <section>
        <button id="submit-button" type="button" class="btn btn-danger">Place Order</button>
      </section>

    </div>
    
  </body>
</html>